# WEEK 2, PART 1

In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal code
"
2:"Borough
"
3:"Neighborhood
"

In [5]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:

[len(C) for (title,C) in col]

[181, 181, 181]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.head()

  Postal code\n           Borough\n                Neighborhood\n
0         M1A\n      Not assigned\n                            \n
1         M2A\n      Not assigned\n                            \n
2         M3A\n        North York\n                   Parkwoods\n
3         M4A\n        North York\n            Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [11]:
df.columns = ['Borough', 'Neighbourhood','Postcode']

cols = df.columns.tolist()
cols
cols = cols[-1:] + cols[:-1]

df = df[cols]

df.head()

  Postcode             Borough                 Neighbourhood
0    M1A\n      Not assigned\n                            \n
1    M2A\n      Not assigned\n                            \n
2    M3A\n        North York\n                   Parkwoods\n
3    M4A\n        North York\n            Victoria Village\n
4    M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [12]:

df = df.replace('\n',' ', regex=True)
df.head()

  Postcode            Borough                Neighbourhood
0     M1A       Not assigned
1     M2A       Not assigned
2     M3A         North York                    Parkwoods
3     M4A         North York             Victoria Village
4     M5A   Downtown Toronto   Regent Park / Harbourfront

In [13]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

df = df.reset_index(drop=True)

df.head(10)

  Postcode            Borough                                  Neighbourhood
0     M1A       Not assigned
1     M2A       Not assigned
2     M3A         North York                                      Parkwoods
3     M4A         North York                               Victoria Village
4     M5A   Downtown Toronto                     Regent Park / Harbourfront
5     M6A         North York              Lawrence Manor / Lawrence Heights
6     M7A   Downtown Toronto   Queen's Park / Ontario Provincial Government
7     M8A       Not assigned
8     M9A          Etobicoke                               Islington Avenue
9     M1B        Scarborough                                Malvern / Rouge

In [14]:
df.drop(df.index[df['Neighbourhood'] == ' '], inplace = True)

df = df.reset_index(drop=True)

df.head(10)

  Postcode            Borough                                  Neighbourhood
0     M3A         North York                                      Parkwoods
1     M4A         North York                               Victoria Village
2     M5A   Downtown Toronto                     Regent Park / Harbourfront
3     M6A         North York              Lawrence Manor / Lawrence Heights
4     M7A   Downtown Toronto   Queen's Park / Ontario Provincial Government
5     M9A          Etobicoke                               Islington Avenue
6     M1B        Scarborough                                Malvern / Rouge
7     M3B         North York                                      Don Mills
8     M4B          East York               Parkview Hill / Woodbine Gardens
9     M5B   Downtown Toronto                       Garden District, Ryerson

In [15]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode       Borough                                      Neighbourhood
0     M1B   Scarborough                                    Malvern / Rouge
1     M1C   Scarborough           Rouge Hill / Port Union / Highland Creek
2     M1E   Scarborough                Guildwood / Morningside / West Hill
3     M1G   Scarborough                                             Woburn
4     M1H   Scarborough                                          Cedarbrae
5     M1J   Scarborough                                Scarborough Village
6     M1K   Scarborough      Kennedy Park / Ionview / East Birchmount Park
7     M1L   Scarborough                  Golden Mile / Clairlea / Oakridge
8     M1M   Scarborough   Cliffside / Cliffcrest / Scarborough Village W...
9     M1N   Scarborough                       Birch Cliff / Cliffside West

In [16]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

In [17]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [18]:
df[df['Borough'] == 'Queen\'s Park']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [19]:
df.shape

(103, 3)

In [20]:
df.to_csv(r'df_can.csv')